*{
font-family: 'Lato', sans-serif;
font-weight: 400;
margin: 0;
}

body{
    height: auto;
}

main{
    height: auto;
    margin: 5% 5%;
    display: block;
}



h1{
    font-weight: 800;
    font-size: 2rem;
}


h2{
    font-weight: 800;
    font-size: 1.2rem;
}

legend, label{
    text-align: center;
    font-size: 1rem;
    display: inline;
}

.ui-button, .pick{
    border: 1px solid gray;
    border-radius: 99px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    outline: none;
}

.ui-button:hover {
	color: indianred;
    border: 1px solid indianred;
    background-color: white;
}

.ui-state-active, .ui-state-active:hover{
    color: indianred;
    border: 1px solid indianred;
    background-color: white;
}

.pick{
    text-indent: 10px;
    width: 150px;
   
}

input[type=text]:focus {
    border: 1px solid indianred;
  }


#container {
	display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-content: center;
}

.alojamiento {
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.alojFoto {
	margin-bottom: 5px;
    border-radius: 25px;
	height: 200px;
	width: 300px;
}

.superhost {
	border: 1.5px solid indianred;
    color: indianred;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 5px;
    font-size: small;
}

.superhost:hover {
	color: white;
    background-color: indianred;
}

.tipo {
    font-size: small;
    margin-left: 10px;
    display: inline-block;
}

.camas {
    font-size: small;
    margin: 0 10px;
    display: inline-block;
}

.star {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.rating {
    font-size: small;
    font-weight: 800;
    display: inline-block;
}

footer {

    color: darkgray;
    text-align: center;
    display: block;
    padding: 3% 0;
    bottom:0;
  }

  /* mediaqueries */
  @media (max-width: 780px){
    .justify-content-around {
      flex-direction: column;
      justify-content: center !important;
    }

    #logo {
        display: block !important;
      }

      nav {
        margin: 0;
        padding-top: 20px;
      }

      .navbar-brand, fieldset {
        margin: 0;
        margin-bottom: 20px;
      }

  }